<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h1>Form for Joining Classes</h1>
<form #classForm="ngForm">
  <!-- checking the data -->
  {{classForm.value | json}}
  <br>
  <!-- by using pipes -->

  <!-- checking the records already stored in Angular -->
  <small>angular data</small>
  {{User | json}}
  <br>

  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" [(ngModel)]=User.name name="name">
  </div>
    <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" [(ngModel)]=User.email name="email">
  </div>
    <div class="form-group">
    <label>Phone</label>
    <input class="form-control" type="tel" [(ngModel)]=User.phone name="phone">
  </div>
  <div class="form-group">
    <select class="custom-select" [(ngModel)]=User.topicWanted name="topicWanted">
      <option selected>I am not interested..</option>
      <option *ngFor="let topic of topics" >{{topic}}</option>
    </select>
  </div>
  <div class="form-group" [(ngModel)]=User.TimePreference>
    <input class="form-check-input" type="radio" name="TimePreference"  value="Moning" checked >
    <label class="form-check-label">Morning Batch</label>
  </div>
  <div class="form-group">
    <input class="form-check-input" type="radio" name="TimePreference"  value="Evening">
    <label class="form-check-label">Evening Batch</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" [(ngModel)]=User.privacy name="privacy" type="checkbox">
    <label class="form-check-label" >I agree to the Privacy policy</label>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>

